@mixin quantity($arg) {
  // Exactly N
  @if type-of($arg) == "number" {
    &:nth-last-child(#{$arg}):first-child,
    &:nth-last-child(#{$arg}):first-child ~ & {
      @content;
    }
  }

  // At least N and at most N
  @else if type-of($arg) == "list" {
    &:nth-last-child(n+#{nth($arg, 1)}):nth-last-child(-n+#{nth($arg, 2)}):first-child,
    &:nth-last-child(n+#{nth($arg, 1)}):nth-last-child(-n+#{nth($arg, 2)}):first-child ~ & {
      @content;
    }
  }

  @else if type-of($arg) == "string" {
    // Odd/even
    @if $arg == "odd" or $arg == "even" {
      &:nth-last-child(#{$arg}):first-child,
      &:nth-last-child(#{$arg}):first-child ~ & {
        @content;
      }
    }

    // Less than...
    @else if str-slice($arg, 1, 1) == "<" {
      // Less than or equal to N
      @if str-slice($arg, 2, 2) == "=" {
        $arg: str-slice($arg, 3);
        &:nth-last-child(-n+#{$arg}):first-child,
        &:nth-last-child(-n+#{$arg}):first-child ~ & {
          @content;
        }
      }

      // Less than N
      @else {
        $arg: str-num(str-slice($arg, 2));
        &:nth-last-child(-n+#{$arg - 1}):first-child,
        &:nth-last-child(-n+#{$arg - 1}):first-child ~ & {
          @content;
        }
      }
    }

    // More than...
    @else if str-slice($arg, 1, 1) == ">" {
      // More than or equal to N
      @if str-slice($arg, 2, 2) == "=" {
        $arg: str-slice($arg, 3);
        &:nth-last-child(n+#{$arg}),
        &:nth-last-child(n+#{$arg}) ~ & {
          @content;
        }
      }

      // More than N
      @else {
        $arg: str-num(str-slice($arg, 2));
        &:nth-last-child(n+#{$arg + 1}),
        &:nth-last-child(n+#{$arg + 1}) ~ & {
          @content;
        }
      }
    }
  }
}
