fieldset,
iframe,
img,
legend {
  border: 0;
}

h1,
h2,
h3,
h5,
h6,
keygen {
  font-size: 100%;
}

menu,
ol,
ul {
  list-style-type: none;
}

blockquote,
body,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
ol,
p,
pre,
ul {
  margin: 0;
}

fieldset,
legend,
menu,
ol,
ul {
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
