// Name your color variables with "Name that Color"
// http://chir.ag/projects/name-that-color/

$black:     #000000;
$mineshaft: #333333;
$white:     #ffffff;

$aquamarine: #74febc;
$malibu: #74b6fe;
$salmon: #fe8674;
$purple: #8200c9;
$your-pink: #ffbbbb;